<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collection</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/csspin-morph.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/collection.css') }}">
  </head>
  <body>
    <div id="app">
      <nav class="dropdownmenu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/commits?c={{ data["collection"] }}">History</a></li>
        </ul>
      </nav>

      <table>
        <thead>
          <tr>
            <th colspan="5">Collection's data [ <small><i v-html="collection"></i></small> ]</th>
          </tr>
          <tr>
            <th>#</th>
            <th>Value</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(blob, key) in blobs" :key="blob">
            <td v-html="key"></td>
            <td v-html="blob.value"></td>
            <td>
              <i class="material-icons button edit" @click="edit(blob, key)">edit</i>
              <i class="material-icons button delete" @click="remove(key)">delete</i>
            </td>
            <td>
              <a @click.prevent="setExpire(blob, key)" href="#">
                <img v-if="blob.__expire__ > -1" :title="new Date(blob.__updated_at__ + blob.__expire__ * 1000)" src="{{ url_for('static', filename='img/expiration.png') }}">
                <img v-else src="{{ url_for('static', filename='img/plus.png') }}">
              </a>
            </td>
            <td v-else></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="insertMode">
            <td contenteditable="true" @keydown.enter.prevent="insert">[ key ]</td>
            <td contenteditable="true" @keydown.enter.prevent="insert">[ value ]</td>
            <td>
              <i style="color: #fff !important;" class="material-icons button insert" @click="insert">insert</i>
            </td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td id="editionMode" v-if="editionMode.enable && !editionMode.insert" :contenteditable="editionMode.enable" colspan="4" @keydown.enter.prevent @keyup.enter="edition" v-html="editionMode.value"></td>
          </tr>
          <tr class="error" v-if="editionMode.error">
            <td colspan="5">Invalid syntax</td>
          </tr>
        </tfoot>
      </table>

      <div v-if="loading" class="loader">
        <div class="cp-spinner cp-morph"></div>
      </div>
    </div>

    <script type="application/javascript">
      const data = (obj => {
        Object.keys(obj.blobs).forEach(key => {
          obj.blobs[key].__created_at__ = obj.blobs[key].__created_at__ * 1000;
          obj.blobs[key].__updated_at__ = obj.blobs[key].__updated_at__ * 1000;
        });

        return obj;
      })(JSON.parse('{{ data | tojson | safe }}'));
    </script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/vuejs.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/collection.js') }}"></script>
  </body>
</html>
