<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/csspin-morph.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <body>
    <form id="app">
      <div class="container">
        <div class="bloc green">
          <input type="text" placeholder="username" v-model="username" @keyup.enter="submit">
        </div>
        <div class="bloc grey">
          <input type="password" placeholder="password" v-model="password" @keyup.enter="submit">
        </div>
        <div class="bloc green">
          <input type="text" placeholder="database" v-model="database" @keyup.enter="submit">
        </div>
        <div class="bloc grey">
          <input type="text" placeholder="collection" v-model="collection" @keyup.enter="submit">
        </div>
        <div class="bloc submit" @click="submit">
          <input type="button" value="LOGIN">
        </div>
      </div>

      <div v-if="loading" class="loader">
        <div class="cp-spinner cp-morph"></div>
      </div>
    </form>

    <script type="application/javascript">
      const data = JSON.parse('{{ data | tojson | safe }}');
    </script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/vuejs.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
  </body>
</html>
